*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    height: 100vh;
}
h1{
    color: #fff;
}
nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgba(0, 0, 0, 0.642);
    padding: 15px;

}


.nav-left,.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-left{
    width: 80%;
}
.navegate{
    display: flex;
    align-items: center;
    width: 80%;
    background:orange;
    padding-right: 30px; ;
    border-radius: 30px;
}
.navegate input{
    padding: 8px;
    width: 100%;
    border-radius: 30px 0 0 30px;
    border: none;
}
.nav-right a{
    text-decoration: none;
    color: #fff;

}
.nav-right img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* .nav-right a:hover{
    border-bottom: 3px solid #000;
} */
.navegate i{
    color: #fff;
}

.info{
    padding: 10px;
    border-bottom: 2px solid orange;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.info #categories{
    width: 30%;
}
.types{
    padding: 8px;
}
.menu{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.menu a{
    text-decoration: none;
}
li{
    list-style: none;
}
li:hover{
    border-bottom:3px solid orange;
    transition: 0.1s;
}
/* create dialog of food================================================================= */
#food-dialog {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    display: none;
    background: rgba(0, 0, 0, 0.48);
}

#form-container {
    padding: 20px;
    width: 50%;
    height: 60vh;
    margin: auto;
    background: white;
    border-radius: 20px;
    border-left:10px solid green;
    border-right:10px solid green;
}
#form-container input,select{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}
select{
    margin-bottom: 10px;
}
#form-container label{
    color: orange;
    font-weight: bold;
}
#form-container menu{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
button{
    padding: 10px;
    /* margin-left: 10px; */
    background:orange;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.buy-now{
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
}
.btn-edit{
    width: 10%;
    display: flex;
    justify-content: space-between;
}
button:hover{
    background:green;
    color: white;
}

/* create cards of food __________________________________________*/
.container{
    margin-top: 40px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.cards{
    cursor: pointer;
    border-radius: 10px;
    background-color:white;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.cards:hover{
    border: 2px solid orange;
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    transition: 0.2s;

  
}
.container img{
    height: 200px;
    width: 200px;
}
.container p{
    margin: 10px 0;
}
.container span{
    color: orange;
}
.container i{
    color: orange;
}
/* 
.title{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.title h2{
    background: orange;
    padding: 10px;
    border-radius: 10px;
    color:white;
}
#list-food{
    background:#fff;
    padding: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
} */
/* #card-food{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:gainsboro;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    cursor: pointer;
}
#card-food #count{
    background: black;
    padding: 15px;
    border-radius: 50%;
    color:orange;

} */
/* .number-food{
    margin-left: 20px;
    width:40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
#card-food:hover{
    border: 3px solid orange;
    -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
 */

footer{
    margin-top: 50px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
}
footer h3{
    margin-top: 50px;
    color: orange;
    margin-bottom: 20px;
}
.contact{
    display: flex;
    align-items: center;
    gap: 10px;
}