.container-detail{
    margin: auto;

}
.card-detail{
    margin: 20px;
    background:rgb(219, 215, 215);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#btn{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-between;
}
#info-detail{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
img{
    padding: 10px;
    border-right:5px solid orange;
}
span{
    color: orange;
}

p{
    margin: 10px;

}
